<!-- frontend -->
<div class="card border-primary">
   <div class="card-header d-flex align-items-center gap-2">
      <img src="../templates/tuya/img/tuya.png" width="24" height="24" alt="Tuya">
      <span>Устройства Tuya</span>
   </div>
   <div class="card-body p-0">

      [#if RESULT#]
      <table class="table table-striped mb-0">
         <thead class="table-light">
            <tr>
               <th>Устройство</th>
               <th>Состояние</th>
               <th>Данные</th>
            </tr>
         </thead>
         <tbody>
            [#begin RESULT#]
            <tr>
               <td>
                  <strong>[#TITLE#]</strong>
                  [#if ONLINE!=""#]
                     [#if ONLINE="1"#]
                        <span class="badge bg-success ms-1">в сети</span>
                     [#else#]
                        <span class="badge bg-danger ms-1">не в сети</span>
                     [#endif#]
                  [#endif#]
               </td>
               <td>
                  [#if IS_STATE="1"#]
                     [#if STATE="1"#]
                        <img src="../templates/tuya/img/lamp_on.png" width="24" height="24" title="Включено">
                     [#else#]
                        <img src="../templates/tuya/img/lamp_off.png" width="24" height="24" title="Выключено">
                     [#endif#]
                  [#endif#]
                  [#if IS_LAMP="1"#]
                     [#if LAMP="1"#]
                        <img src="../templates/tuya/img/lamp_on.png" width="24" height="24" title="Подсветка вкл">
                     [#else#]
                        <img src="../templates/tuya/img/lamp_off.png" width="24" height="24" title="Подсветка выкл">
                     [#endif#]
                  [#endif#]
               </td>
               <td>
                  [#if COMMANDS!=""#]
                     [#COMMANDS#]
                  [#endif#]
               </td>
            </tr>
            [#end RESULT#]
         </tbody>
      </table>
      [#else#]
      <div class="alert alert-info m-3">
         Нет доступных устройств. <a href="?action=admin">Настройте модуль</a> для обнаружения устройств Tuya.
      </div>
      [#endif#]

   </div>
</div>
